body{
    font-family: sans-serif;
    font-size: 1em;
    background-color: pink;
   
}

h1 {
    color:rgb(214, 19, 52);
    text-decoration:  unset;
    font-size: 2em;
}

.subtitulos {
    color: gray;
    font-family: 'Righteous', cursive;
}

#parrafo {
    color: white;
    font-family: 'Righteous', cursive;
}

#parrafo span {
    color:grey;
}

.flex-container {
    background-color: black;
    padding: 10px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}



#tabla {
    color: white;
    font-family: 'Righteous', cursive;
}

button a {
    text-decoration: none;
}

p {
    text-align: justify;
}

ul li {
    list-style: none;
}


.grid-container {
    background-color: pink;
    padding: 5px 0;

    display: grid;
      
    grid-template-areas:
    'footer footer footer'
    'main main sidebar'
    'main main sidebar'
    'header header header'
    ;

}

.grid-container div {
    background-color: greenyellow;
    border: solid 1px yellow;
    padding: 5px;

}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
}

.sidebar {
    grid-area: sidebar;
}

.footer {
    grid-area: footer;
}